/* ===================================== */
/* Section - 1 */
/* ===================================== */

.homepage-section-1 {
    @apply relative mx-auto flex w-11/12 max-w-maxContent flex-col items-center justify-between gap-8 text-white;
}

.homepage-outer-btn-div {
    @apply mx-auto mt-16 w-fit rounded-full bg-richblack-800 p-1 font-bold text-richblack-200 drop-shadow-[0_1.5px_rgba(255,255,255,0.25)] transition-all duration-200 hover:scale-95 hover:drop-shadow-none;
}

.homepage-inner-btn-div {
    @apply flex flex-row items-center gap-2 rounded-full px-10 py-[5px] transition-all duration-200 group-hover:bg-richblack-900;
}

.homepage-future-heading {
    @apply text-center text-4xl font-semibold;
}

.homepage-future-subheading {
    @apply -mt-3 w-[90%] text-center text-lg font-bold text-richblack-300;
}

.homepage-buttons {
    @apply mt-8 flex flex-row gap-7;
}

.homepage-video-div {
    @apply mx-3 my-12 shadow-[10px_-5px_50px_-5px] shadow-blue-200;
}

.homepage-video {
    @apply shadow-[20px_20px_rgba(255,255,255)];
}

/* Codeblocks ------------------ */

.homepage-codeblocks-heading-div {
    @apply text-4xl font-semibold;
}

.homepage-codeblock-1 {
    @apply w-[372.95px] h-[257.05px] opacity-[0.2];
    border-radius: 100%;
    left: calc(50% - 372.95px / 2 - 76.53px);
    top: calc(50% - 257.05px / 2 - 47.47px);
    background: linear-gradient(
        123.77deg,
        #8a2be2 -6.46%,
        #ffa500 59.04%,
        #f8f8ff 124.53%
    );
    filter: blur(34px);
    transform: matrix(1, 0, -0.03, 1, 0, 0);
}

.homepage-codeblock-2 {
    @apply absolute w-[372.95px] h-[257.05px] opacity-[0.2];
    left: calc(50% - 372.95px / 2 - 76.53px);
    top: calc(50% - 257.05px / 2 - 47.47px);
    border-radius: 100%;
    background: linear-gradient(
        118.19deg,
        #1fa2ff -3.62%,
        #12d8fa 50.44%,
        #a6ffcb 104.51%
    );
    filter: blur(34px);
    transform: matrix(1, 0, -0.03, 1, 0, 0);
}

/* ===================================== */
/* Section - 2 */
/* ===================================== */
.homepage-section-2 {
    @apply bg-pure-greys-5 text-richblack-700;
}

/* Bg with btns ------------------ */
.homepage-bg-and-btns {
    @apply h-[310px];
    background: url("../assets/Images/bghome.svg");
}

.homepage-section-2-btns-div-1 {
    @apply mx-auto flex w-11/12 max-w-maxContent flex-col items-center justify-between gap-8;
}

.homepage-above-btn-gap {
    @apply lg:h-[150px];
}

.homepage-section-2-btns {
    @apply flex flex-row gap-7 text-white lg:mt-8;
}

.homepage-section-2-btn {
    @apply flex items-center gap-3;
}

/* bienvenidos */

/* Skills for job - content ---------------- */
.homepage-skills-for-job {
    @apply mx-auto flex w-11/12 max-w-maxContent flex-col items-center justify-between gap-8;
}

.homepage-job-skills-heading {
    @apply mb-10 mt-[-100px] flex flex-col justify-between gap-7 lg:mt-20 lg:flex-row lg:gap-0;
}

.homepage-job-skills-heading-content {
    @apply text-4xl font-semibold lg:w-[45%];
}

.homepage-job-skills-text {
    @apply flex flex-col items-start gap-10 lg:w-[40%];
}

.homepage-job-skills-text-content {
    @apply text-[16px];
}

/* ======================================= */
/* Section - 3 */
/* ======================================= */
.homepage-section-3 {
    @apply relative w-11/12 mx-auto max-w-maxContent flex-col items-center justify-between gap-8 bg-richblack-900 text-white;
}

.homepage-review-section {
    @apply text-center text-4xl font-semibold mt-8;
}
