.navbar {
    @apply flex h-14 items-center justify-center border-b-[1px] border-b-richblack-700 transition-all duration-200;
}

.navbar-other-pages {
    @apply bg-richblack-800;
}

.navbar-content {
    @apply flex w-11/12 max-w-maxContent items-center justify-between;
}

/* Desktop Navbar ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ======================================================== */
/* ======================================================== */

/* Navbar links */
/* =========================================== */

.navbar-links {
    @apply hidden md:block;
}

.navbar-links-list {
    @apply flex gap-x-6 text-richblack-25;
}

.catalog-div {
    @apply flex cursor-pointer items-center gap-1 relative;
}

.navbar-link-text-active {
    @apply text-yellow-25;
}

.navbar-link-text {
    @apply text-richblack-25;
}

/* Catalog (categories link) */
/* =========================================== */

.catalog-hover-content {
    @apply invisible absolute left-[50%] top-[50%] z-[1000] flex w-[200px] translate-x-[-50%] translate-y-[3em] flex-col rounded-lg bg-richblack-5 p-4 text-richblack-900 opacity-0 transition-all duration-150 group-hover:visible group-hover:translate-y-[1.65em] group-hover:opacity-100 lg:w-[300px];
}

.diamond-shape {
    @apply absolute left-[50%] top-0 -z-10 h-6 w-6 translate-x-[80%] translate-y-[-40%] rotate-45 select-none rounded bg-richblack-5;
}

.navbar-catalog-loader {
    @apply text-center;
}

.navbar-catalog-link {
    @apply rounded-lg bg-transparent py-4 pl-4 hover:bg-richblack-50;
}

.navbar-catalog-no-courses {
    @apply text-center;
}

/* Dashboard links */
/* ============================================ */

.dashboard-links {
    @apply hidden items-center gap-x-4 md:flex;
}

/* Cart link -------------- */
.navbar-cart-link {
    @apply relative;
}

.navbar-cart-icon {
    @apply text-2xl text-richblack-100;
}

.navbar-cart-count {
    @apply absolute -bottom-2 -right-2 grid h-5 w-5 place-items-center overflow-hidden rounded-full bg-richblack-600 text-center text-xs font-bold text-yellow-100;
}

/* Auth links (signup, login) --------------- */
.auth-btn {
    @apply rounded-[8px] border border-richblack-700 bg-richblack-800 px-[12px] py-[8px] text-richblack-100;
}

/* Mobile Navbar ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ========================================================= */
/* ========================================================= */

.navbar-mobile-navbar {
    @apply flex gap-2 items-center justify-between;
}

/* Cart Link */
/* =========================================== */

.navbar-mobile-cart {
    @apply md:hidden;
}

.navbar-mobile-cart-link {
    @apply relative;
}

.navbar-mobile-cart-icon {
    @apply fill-richblack-25 w-8 h-8;
}

.navbar-mobile-item-cnt {
    @apply font-medium text-[12px] shadow-black bg-yellow-100 text-richblack-900 rounded-full px-[4px] absolute -top-[2px] right-[1px];
}

/* Navbar Menu */
/* ======================================== */

.navbar-menu {
    @apply flex md:hidden relative flex-row text-white;
}

.navbar-menu-login {
    @apply mr-6;
}

.navbar-menu-logout {
    @apply mr-12;
}

.navbar-menu-student {
    @apply -left-12;
}

.navbar-menu-instructor {
    @apply -left-12;
}

/* Menu icon --------------- */

.navbar-mobile-hamburger {
    @apply w-16 h-8 fill-richblack-25 absolute left-10 -bottom-4;
}

.navbar-mobile-hamburger-overlay {
    @apply fixed top-0 bottom-0 left-0 right-0 z-30 w-[100vw] hidden h-[100vh] overflow-y-hidden bg-[rgba(0,0,0,0.5)];
}

.navbar-mobile-hamburger-show {
    @apply z-50;
}

/* Navbar hidden (default mode) */
.mobNav {
    @apply transition-all duration-500;
    transform: translateX(100vw);
}

/* Navbar visible (slided to left) */
.mobNav.navshow {
    @apply transition-all duration-500;
    transform: translateX(0vw);
}

/* Navbar Mobile Links */
/* ========================================= */

.navbar-mobile-links {
    @apply items-center flex flex-col absolute w-[200px] -left-[80px] -top-7 rounded-2xl;
    background: rgba(13, 18, 30, 0.75);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.3px);
    -webkit-backdrop-filter: blur(7.3px);
    border: 1px solid rgba(13, 18, 30, 0.3);
}

/* Close Navbar btn ------------------ */

.navbar-mobile-close {
    @apply mr-36 mt-3 -mb-2 bg-white bg-opacity-10 rounded-full p-1;
}

/* Login & Signup link ----------------- */

.navbar-mobile-auth-btn {
    @apply mt-4 text-center text-[15px] px-6 py-2 rounded-md font-semibold bg-yellow-50 text-black hover:scale-95 transition-all duration-200;
}

.navbar-mobile-signup-link {
    @apply text-yellow-50;
}

/* Dashboard link ------------------ */

.navbar-mobile-dashboard-link {
    @apply mt-2;
}

.navbar-mobile-dashboard-text {
    @apply text-richblack-50 text-center mb-2;
}

/* Separation div */
.navbar-mobile-separation-div {
    @apply mt-4 mb-4 bg-richblack-25 w-[200px] h-[2px];
}

/* Categories header ------------ */

.navbar-mobile-categories-header {
    @apply text-xl text-yellow-50 font-semibold;
}

/* Categories list ------------- */

.navbar-mobile-categories-list {
    @apply flex flex-col items-center;
}

.navbar-mobile-category {
    @apply p-2 text-sm;
}

.navbar-mobile-category-name {
    @apply text-richblack-5;
}

/* About & Contact page links -------------- */

.navbar-mobile-page-link {
    @apply p-2;
}

.navbar-mobile-page-name {
    @apply text-richblack-5;
}
